.user-photo {
  height: 100%; }

.user-photo .user-photo-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 1;
  justify-content: center; }

.user-photo .user-photo-item .content {
  cursor: default; }
