.user-photo {
  height: 100%;

  .user-photo-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 1;
    justify-content: center;

    .content {
      cursor: default;
    }
  }
}
