.user-article {

  .user-label {
    a {
      margin: 5px 0;
    }
  }

  .user-count {
    margin-left: 20px !important;
  }

  .user-open-btn {
    float: right;
  }
}

@media screen and (max-width: 800px) {
  .user-article {

    .user-open-btn {
      display: block !important;
      float: inherit;
    }
  }
}
