.user-nav {

  .user-info {
    margin-top: 10px;
    margin-bottom: 20px;

    .user-avatar {
      border-radius: 40px;
      margin-left: 10px;
      margin-right: 20px;

    }
  }

  .user-external-links {
    margin-top: 100px;
  }

}
