.user-nav .user-info {
  background-image: url("../../images/backgrounds/1.jpg"); }
  .user-nav .user-info .user-avatar {
    border-radius: 40px;
    margin-left: 10px;
    cursor: pointer; }

.user-nav .user-content {
  margin-top: 0 !important;
  min-height: 880px; }
